# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
public/assets/images/parallax-bg-3.psd
public/assets/images/world-map-grey.psd
public/assets/images/client-4.psd
public/assets/images/client-5.psd
public/assets/images/client-6.psd
